@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Patrick+Hand');

:root {
    font-family: 'Patrick Hand', cursive;
}

body {
    max-width: 1280px;
    margin: auto;
}

h1, h2, h3, h4, p, div, nav, span {
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

header .logo_desktop {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 5px 10px 10px 10px;
    color: white;
}

header .logo_desktop a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 8px #FF0000;
}

header .logo_desktop a:hover {
    text-decoration: underline;
    color: red;
}

header .menu_desktop_hidden {
    margin: 19px 10px 10px 10px;
    padding: 0;
    font-size: 2rem;
    font-family: 'Cabin Sketch', cursive;
}

header .menu_desktop_hidden {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .menu_desktop_hidden li {
    display: inline;
    list-style-type: none;
    padding: 0 30px;
    
}

header .menu_desktop_hidden li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 8px #FF0000;
}

header .menu_desktop_hidden li a:hover {
    text-decoration: underline;
    color: red;
}

@media (min-width: 550px) {
    header nav {
        flex: 1;
    }
}


main .bikes_grid_container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    padding: 10px;
    position: relative;
}

.interesting_title {
    position: absolute;
    z-index: 2;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    left: 15%;
    top: 25%;
}


.interesting_title a {
    text-decoration: none;
    color: white;
}

.interesting_title a:hover {
    text-decoration: underline;
    text-transform: uppercase;
    color: red;
}

.read_more {
    padding: 0 0 0 10px;
}




main .buy_navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 20px;
    padding: 10px 10px 10px 10px;
}

.block_shop {
    width: 403.2px;
    height: 100%;
    text-align: justify;
    margin: 0 0 5px;
}

.shop_responsive {
    width: 100%;
}


.block_equip {
    width: 403.2px;
    height: 100%;
    text-align: justify;
    margin: 0 0 5px;
}

.equip_responsive {
    width: 100%;
}

.block_store {
    width: 403.2px;
    height: 100%;
    text-align: justify;
    margin: 0 0 5px;
}

.stores_responsive {
    width: 100%;
}


main .news_block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 20px;
}


.latest_news {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 0 20px;
    background-color: #2F4F4F;
}

.news_block_1  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 10px;
}

.news_block_1 {
    width: 640px;
    height: 100%;
}

.news_1_image {
    width: 100%;
}

.news_block_2  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 10px;
    padding: 70px 0 0 0;
}

.news_block_2 {
    width: 420px;
    height: 100%;
}

.news_2_image {
    width: 100%;
}


.news_block_3  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 10px;
    padding: 70px 0 0 0;
}

.news_block_3 {
    width: 420px;
    height: 100%;
}

.news_3_image {
    width: 100%;
}


.news_block_4  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 10px;
}

.news_block_4 {
    width: 640px;
    height: 100%;
}

.news4_image {
    width: 100%;
}

.view_more {
    width: 300px;
    height: 35px;
    text-align: center;
    margin: 10px 0 10px 0;
    background-color: #2F4F4F;
} 




footer .sign_me_up_1 {
    text-align: center;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 5vw;
}

footer .sign_me_up_2 {
    text-align: center;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 100%;
    margin: 0 0 10px;
}

footer .form_send_email form {
    display:  flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 20px;
}

#Email {
    margin: 0 0 5px 0;
}

#email_tittle_1 {
    color: white;
}


footer .social_contact_link {
    display:  flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 20px;
}

.social_logo {
    text-align: center;
    padding: 30px 0 30px;
}




.call_back_text {
    color: white;
    font-size: 50px;
    text-align: inherit;
    font-family: 'Cabin Sketch', cursive;
}


footer .number_name_form {
    display:  flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
    padding: 0 0 20px;
}

.call_back_logo {
    text-align: center;
    padding: 0 0 10px;
}

.desk {
    color: white;
    text-align: left;
    margin: 0 0 0 0;
}

.write_name {
    padding: 0 0 20px 0;
}

.write_number {
    padding: 0 0 10px 0;
}

footer .end_line {
    display:  flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Cabin Sketch', cursive;
    margin: 20px 0 10px 0;
    padding: 0 0 20px;
    
}

footer .end_line a {
    color: white;
    text-shadow: 2px 2px 8px #FF0000;
}