@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Patrick+Hand');

:root {
    font-family: 'Patrick Hand', cursive;
}

body {
    max-width: 1280px;
    margin: auto;
}

h1, h2, h3, h4, p, div, nav, span {
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .logo_desktop {
    font-family: 'Cabin Sketch', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 20px 10px;
    color: white;
}

header .logo_desktop a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 8px #FF0000;
}

header .logo_desktop a:hover {
    text-decoration: underline;
}

header .menu_desktop_hidden {
    padding: 0;
    font-size: 2rem;
    font-family: 'Cabin Sketch', cursive;
}

header .menu_desktop_hidden {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .menu_desktop_hidden li {
    display: inline;
    list-style-type: none;
    padding: 0 30px;
    
}

header .menu_desktop_hidden li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 8px #FF0000;
}

header .menu_desktop_hidden li a:hover {
    text-decoration: underline;
}

@media (min-width: 550px) {
    header nav {
        flex: 1;
    }
}


