@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Patrick+Hand');

:root {
    font-family: 'Patrick Hand', cursive;
}

body {
    max-width: 1280px;
    margin: auto;
}

h1, h2, h3, h4, p, div, nav, span {
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

header .logo_desktop {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 10px 10px;
    color: white;
}

header .logo_desktop a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 8px #FF0000;
}

header .logo_desktop a:hover {
    text-decoration: underline;
    color: red;
}

header .menu_desktop_hidden {
    padding: 0;
    font-size: 2rem;
    font-family: 'Cabin Sketch', cursive;
}

header .menu_desktop_hidden {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .menu_desktop_hidden li {
    display: inline;
    list-style-type: none;
    padding: 0 30px;
    
}

header .menu_desktop_hidden li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 8px #FF0000;
}

header .menu_desktop_hidden li a:hover {
    text-decoration: underline;
    color: red;
}

@media (min-width: 550px) {
    header nav {
        flex: 1;
    }
}


main .bikes_grid_container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    padding: 10px;
    grid-gap: 1em;
    position: relative;
}

.button_left {
    position: absolute;
    left: 5%;
    top: 20%;
    z-index: 2;
    background-color: black;
}



.button_right {
    position: absolute;
    right: 5%;
    top: 20%;
    z-index: 2;
    background-color: black;
    
}

.interesting_title {
    position: absolute;
    z-index: 2;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 5vw;
    left: 15%;
    top: 10%;
}


.interesting_title a {
    text-decoration: none;
    color: white;
}

.interesting_title a:hover {
    text-decoration: underline;
    text-transform: uppercase;
    color: red;
}

.read_more {
    padding: 0 0 0 10px;
}


.background_f10 {
    position: relative;
    z-index: 1;
    
}

.background_nytro {
    position: relative;
    z-index: 1;