main .show_filter {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin: 20px 0 20px;
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
}


.converter_online {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0 20px;
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
}

.style_convert {
    text-align: center;
}

.converter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
}

.border_area_conv {
    padding: 10px 10px 10px 10px;
}

.about_bike {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0 20px;
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: 'Cabin Sketch', cursive
}

.main_text {
    text-align: center;
} 

.cont_filtre_choose {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0 20px;
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
}

.show_categories {
    font-size: 110%;
    
}

.show_gender {
    font-size: 110%;
}

.grid_shopping {
    display: grid;
    grid-template-columns: 1fr 7fr;
    
}

.card {
    margin: 0px 10px 20px 10px;
    padding: 0 5px 0 5px;
    
}

.alert {
    position: fixed;
    top: 20px; 
    width: 50%;
    text-align: center;
    z-index: 10001;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    background-color: #2F4F4F;
}

.btn {
    padding: 0.75rem 0.7rem;
}

#cart-badge {
    width: 35px;
    text-decoration: none;
    text-shadow: 2px 2px 8px #FF0000;
}

.svg-inline--fa:hover {
    text-decoration: none;
    
}

.card-body {
    text-align: center;
    
}

.card-text {
    padding: 0 0 20px 0;
}


